@model IEnumerable<WebDoAnVienSinhHoc.Models.HoaDon>

@{
    ViewBag.Title = "XemDonHang";
    Layout = "~/Areas/NhanVien/Views/Shared/_LayoutNhanVien.cshtml";
}

<h2>Danh sách đơn hàng Khách đặt</h2>


<table class="table">
    <tr>
        <th>
            Ngày lập
        </th>
        <th>
            Khách hàng
        </th>
        <th>
            Nhân viên
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Convert.ToDateTime(item.NgayLap).ToString("dd/MM/yyyy")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KhachHang.HoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NhanVien.HoTen)
        </td>
        <td>
            @Html.ActionLink("Duyệt", "DuyetDon", new { id=item.MaHD }) |
            @Html.ActionLink("Chi tiết", "CTDonHang", new { id=item.MaHD }) |
        </td>
    </tr>
}

</table>
